.stream-container {
  width: calc(100% / 6);
}

.font-big-orange {
  color: orange;
  font-weight: bold;
  font-size: larger;
}

.grey {
  color: grey;
}
.stage_screen {
  max-height: 50px;
}

.video-container {
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.bg-test {
  background-color: #fae18f8e;
  min-height: 94vh;
}
/* chat */

.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: auto;
  height: 450px;
  z-index: -123456;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.chatbox--active {
  min-height: 70vh;
  z-index: 123456;
  opacity: 1;
}

.chatbox__header {
  font-weight: bold;
  background-color: orange;
  top: 0;
}

.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column;
}

.chatbox__footer input {
  width: auto;
}

.chatbox__send--footer {
  color: black;
}
