.height_100 {
  height: 100%;
}

.font-big-orange {
  color: orange;
  font-weight: bold;
  font-size: larger;
}

.grey {
  color: grey;
}
.stage_screen {
  max-height: 50px;
}

.video-container {
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.stream-container {
  width: calc(95.5% / 3);
  margin: 0.75%;
}

.bg-test {
  background-color: #fae18f8e;
  height: 100vh;
}
/* chat */

.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: auto;
  height: 450px;
  z-index: -123456;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.chatbox--active {
  z-index: 123456;
  opacity: 1;
}

.chatbox__header {
  font-weight: bold;
  background-color: orange;
  top: 0;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column;
}

.messages__item {
  max-width: 6 0.6%;
  width: fit-content;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  margin-left: auto;
  color: red;
  background-color: blue;
}

.messages__item--visitor {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: auto;
  background-color: orange;
}

.chatbox__footer input {
  width: 65%;
}

.chatbox__send--footer {
  width: 25%;
}
